name: Build APK

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: kivy/buildozer:latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build APK
        run: |
          export BUILDOZER_ALLOW_ROOT=1
          buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: BGMI-Skin-Tool
          path: bin/*.apk
